<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "BLOG APP", root_path, id: "logo"  %>
		<nav>
			<ul id="menu-top" class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path  %></li>
				<li><%= link_to "Sign up", signup_path %></li>
				<li><%= link_to "Sign in", "#" %></li>
			</ul>
		</nav>
	</div>
</header>